<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../c-styles.css">
    <title>Registration Page</title>
  </head>
  <body>
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bloodmobile</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Register</a>
              <a class="nav-link" th:href="@{/showMyLoginPage}">Back to login page</a>
            </div>
          </div>
        </div>
      </nav>

    <!-- top container-->
    <div class="container-fluid top-container bg-light mt-2 text-center">
    </div>
   
    <!-- main container-->
    <div class="container main-container-login d-flex align-items-center justify-content-center mt-4">
        <div class="row login-row-box" style="width:100%">
          
         
          <!-- Create Account container-->
          <div class="col-md-4">
            <div class="display-container bg-light"> 
                <div class="display-container-header  text-center ">
                    Create Account
                </div>
                <div>
                    <h2 class="home-display-text">Registration successful!</h2>
                    <h4 class="home-display-text">You may now log in to your account.</h4>
                </div>
                <div class="display-container-footer text-center">
                    <a th:href="@{/showMyLoginPage}" class="btn btn-outline-primary btn-lg home-display-container-button" role="button" aria-pressed="true">Log In</a> 
                </div>
            </div>
          </div>
        </div>
    </div>

    <!-- bottom container-->
    <div class="container-fluid bottom-container bg-light">
        <!--<h1>bottom container</h1>-->
    </div>
    
    <div class="mt-2 p-5 footer-bg text-light text-center">
        <p>Questions? Contact us at (555) 555-5555</p>
        <p>©2022 Bloodmobile, LLC</p>
    </div>
    
  </body>
</html>