<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../c-styles.css">
    <title>Manage Appointments Page</title>
  </head>
  <body   sec:authorize="hasRole('ROLE_MANAGER')">
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bloodmobile</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" th:href="@{/}">Home</a>
              <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
            </div>
          </div>
        </div>
      </nav>

    <!-- top container-->
    <div class="container-fluid top-container bg-light mt-2">
        <a href="javascript:history.back()" class="btn btn-warning btn-sm"> Back</a>
    </div>
    <div class="text-center" style="margin-bottom:48px;">
        <h1 class="text-gray">Sample Update</h1>
    </div>
    
    <!-- main container-->
    <div class="container main-container d-flex align-items-center justify-content-center mt-5">

        <div class="row" style="width:100%" >
        
        <!-- location selected container-->
        <div class="col-sm-4">
            <div class="display-container  bg-light">
                <div class="display-container-header text-center">
                    Selected Location
                </div>
                <div class="table-container">
                    <table class="table">
                        <thead class="table-dark"> 
                        </thead>
                        <tbody>
                            <tr>
                                <td>Location:</td>
                                <td th:text="${location.getLocationDesc()}"></td>
                            </tr>
                            <tr>
                                <td>Street Address:</td>
                                <td th:text="${location.getStreetAddress()}"></td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td th:text="${location.getCity()}"></td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td th:text="${location.state}"></td>
                            </tr>
                            <tr>
                                <td>Zip code:</td>
                                <td th:text="${location.zipCode}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
          
          <!-- Date Selected container-->
          <div class="inner-container col-sm-2">
            <div class="display-container text-center bg-light">
                <div class="display-container-header">
                    Selected Date
                </div>
                <div>
                    <br><h2 th:text="${date}"></h2><br>
                </div>
            </div>
          </div>
          <!-- Appointment container-->
          <div class="col-sm-6">
            <div class="display-container bg-light">
                <div class="display-container-header text-center">
                    Appointment
                </div>  
                  <div class="table-container">
                    
                    <table class="table">
                        <thead class="table-dark"> 
                        </thead>
                        <tbody>
                            <tr>
                                <td>Appointment id:</td>
                                <td th:text="${slot.id}"></td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td th:text="${appTime}"></td>
                            </tr>
                            <tr>
                                <td>Patient id:</td>
                                <td th:text="${slot.patient.id}"></td>
                            </tr>
                            <tr>
                                <td>First Name:</td>
                                <td th:text="${slot.patient.firstName}"></td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td th:text="${slot.patient.lastName}"></td>
                            </tr>
                            <tr>
                                <td>Date of birth:</td>
                                <td th:text="${birthday}"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td th:text="${slot.patient.email}"></td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td th:text="${slot.patient.phone}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <form th:action="@{/schedule/processSampleUpdate}" method="post">
                    <label>Sample id:</label><input type="number" th:name="sample" th:value="${slot.sampleId}"/>
                    <input type="hidden" th:name="appId" th:value="${slot.id}"/>
                    <input type="hidden" th:name="locId" th:value="${location.id}"/>
                    <input type="hidden" th:name="date" th:value="${date}"/>
                    <input class="btn-outline-success" type="submit"/>
                    </form>
                </div>
                <div class="sample-display-container-footer text-center">
                	
                    
                </div> 
            </div>
          </div>
        </div>
    </div>


    <!-- bottom container-->
    <div class="container-fluid bottom-container bg-light">
    </div>
    
    <div class="mt-2 p-5 footer-bg text-light text-center">
        <p>Questions? Contact us at (555) 555-5555</p>
        <p>©2022 Bloodmobile, LLC</p>
    </div>
    
  </body>
</html>